@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@font-face{
    font-family: 'MyWebFont';
    src: url('Jonah.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    list-style: none;
}

body{
    height: 100vh;
    width: 100%;
}
/*Fuentes*/
h1{
    font-family: "MyWebFont";
    font-size: 32px;
}

label{
    font-family: "Comfortaa";
    font-size: 13px;
}

p{
    font-family: "Comfortaa";
    font-size: 13px;
}

a{
    text-decoration: none;
    color: #6699FF;
    transition: 0.3s;
    font-size: 13px;
}

a:hover{
    font-weight: bold;
    color: #7F59DF;

}

input{
    font-family: "Comfortaa";
    font-size: 13px;
}

/*a:visited{
    color: #66FFC1;
}*/

/*Fin de fuentes*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items : center;
    height: 120px;
}

#logotipo{
    height: 100%;
}

#logotipo img{
    width: 100%;
    height: 100%;
}

#botonMenu {
    font-size: 3em;
    margin-right: 0.5em;
}

footer{
    color: white;
    width: 100%;
    height: 5em;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#licencia{
    display: flex;
}

#w3{
    display: flex;
    flex-direction: column;
}

#menu-vertical {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.4s;
    padding: 1rem 0;
}

#menu-vertical .boton-cerrar {
    position: absolute;
    top:    1rem;
    right: 1rem;
    font-size: 4rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 10%;
    width: 10%;
    text-align: center;

}
#buscador{
    width: 80%;
    display: flex;
    height: 37px;
    margin-left: 15px;

}
#busqueda{
    width: 70%;
    border-radius: 20px;
    padding: 5px;
}
#buscar{
    width: 30%;
    border-radius: 20px;
}

#perfil{
    margin-left: 15px;
    display: flex;
    width: 75%;
    justify-content: space-between;
    font-size: 24px;
    min-width: 120px;
}

#categorias{
    height: 80%;
    margin-left: 15px;
    padding:0;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

#categorias div {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 80%;
    min-width: 120px;
    font-size: 24px;
}

/*Anuncio*/

#crearAnuncio{
    text-align: center;
}

#formNuevoAn{
    display: flex;
    flex-direction: column;
    border: solid #263960 3px; 
}

#botonPublicar{
    transition: 0.3s;
}

#botonCancel{
    transition: 0.3s;
}

#botonPublicar:hover{
    background-color: #33805D;
    color: white;
}

#botonCancel:hover{
    background-color: #693380;
    color: white;
}
/*Index*/

#info{
    display: flex;
    align-items: center;
}

#fotoInfo{
    width: 50%;
    overflow-y: auto;
}

#fotoInfo img{
    width: 100%;
}

#info p{
    width: 50%;
    text-align: center;
    padding: 15px;
}
/*PERFIL*/
#contPerfil{
    margin: 0 auto;
    border: solid #263960 3px;
    display: flex;
    flex-direction: column;
}
#navPerfil{
    display: flex;
    justify-content: space-between;
    border-bottom: solid #263960 1.6px;
}
#navPerfil input{
    transition: 0.3s;
}

#navPerfil input:hover{
    background-color: #6699FF;
    color: white;
}

/*EDITARPERFIL*/

#EditarPerfil{
    text-align: center;
}
#fPerfil{
    display: flex;
    flex-direction: column;
    border: solid #263960 3px; 
}
#fPerfil label{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
}

#fPerfil label span{
    padding-left: 25px;
    padding-right: 25px;
}

#updatePerfil{
    transition: 0.3s;
}

#updatePerfil:hover{
    background-color: #33805D;
    color: white;
}

#deletePerfil{
    transition: 0.3s;
}

#deletePerfil:hover{
    background-color: #693380;
    color: white;
}

/*REGISTRO*/
#contRegistro{
    text-align: center;
}
#registro{
    display: flex;
    flex-direction: column;
    border: solid #263960 3px; 
}
#registro label{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
}

#bRegistrarse{
    transition: 0.3s;
}

#bRegistrarse:hover{
    background-color: #33805D;
    color: white;
}

/*LOGIN*/
#contLogin{
    text-align: center;
}
#login{
    display: flex;
    flex-direction: column;
    border: solid #263960 3px; 
}
#login label{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
}

#bLogin{
    transition: 0.3s;
}

#bLogin:hover{
    background-color: #33805D;
    color: white;
}
/*CARRUSEL ???????????*/
#carruselPubli ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    border-bottom: solid #263960 3px;
}

/*CATEGORIAS ?????????*/
#categoriasInx div {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 5px;
    min-width: 120px;
    font-size: 24px;
    border-bottom: solid #263960 3px;;
}

@media only screen and (min-width: 480px){
    #crearAnuncio{
        text-align: center;
        padding: 15px;
        margin: 20px;
    }

    #formNuevoAn{
    margin-left: 25%;
    margin-right: 25%;
    }

    #fPerfil{
    margin-left: 25%;
    margin-right: 25%;
    }

    #registro{
    margin-left: 25%;
    margin-right: 25%;
    }
    #login{
    margin-left: 25%;
    margin-right: 25%;
    }
    #contMain{
    margin-left: 20%;
    margin-right: 20%;
    }
    #contPerfil{
    margin-left: 25%;
    margin-right: 25%;
    }
    #info{
    margin-left: 20%;
    margin-right: 20%;
    }
}